* {
  box-sizing: border-box;

}

h1 {
	font-size: 27px;
	font-family: sans-serif;
	text-align: center;
	color: rgb(0, 0, 0);
	margin-bottom: 30px;
	margin-top: 3%;
}

p {
	padding: 15px 5px 0px 5px;
	font-family: sans-serif;
	font-size: 16px;
	position: relative;
}

.section { 
	background-color: rgb(150, 150, 150);
   	border: 3px solid black;
   	margin-top: 20px; 
   	margin-right: 20px; 
   	margin-left: 15px;
   	padding: 3px;
   	text-align: justify;
   	position: relative;
 }

span {
	font-size: 20px;
	width: 170px;
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
	float: right; top :0; right: 0; margin: -1.5px;
	position: absolute;
}
#food1 {
	background-color: rgb(250, 150, 150);
	color: black;
}
#food2 {
	background-color: rgb(250, 0, 0);
	color: white;
}
#food3 {
	background-color: rgb(200, 200, 100);
	color: black;
}
}

.row {
	width: 100%;
}



@media (min-width: 992px) {
 
  .col-lg-4 {
    width: 33.33%;
    float: left;
	}
}


@media (min-width: 768px) and (max-width: 991px) {
 
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}

@media (max-width: 767px)  {
  
  .col-sx-12 {
  	float: left;
    width: 100%;
  }
}
